html {
    --iri-checkbox-bkg: 7px;
}


/* ini | settings button */
#iridium_settings_button {
    box-sizing: border-box;
    height: 40px;
    padding: 8px;
    margin-right: 8px;
    position: relative;
    text-align: center;
    width: 40px;
    color: var(--yt-swatch-important-text, var(--yt-swatch-icon-color, #888));
}
@media (max-width: 656px) {
    #iridium_settings_button {
        margin-right: 0;
    }
}
#iridium_settings_button polygon {
    opacity: .5;
}
#iridium_settings_button path,
#iridium_settings_button polygon {
    fill: url(#iri-gradient);
}
#iridium_settings_button .iri-start-gradient,
#iridium_settings_button .iri-stop-gradient {
    stop-color: var(--iron-icon-fill-color, currentcolor);
}
#iridium_settings_button:hover .iri-start-gradient {
    transition: 1s;
    stop-color: #0FF;
}
#iridium_settings_button:hover .iri-stop-gradient {
    transition: 1s;
    stop-color: #F0F;
}
#iridium_settings_button .iri-tooltip {
    background-color: #616161;
    right: 20px;
    top: 56px;
    transform: translateX(50%);
}
#iridium_settings_button:hover .iri-tooltip {
    opacity: .9 !important;
    transition: opacity .3s ease-out .5s;
}
/* end | settings button */


/* ini | general layout */
#upload-info #owner-container {
    display: initial !important;
}
a#logo yt-icon,
a.yt-simple-endpoint span {
    pointer-events: none;
}
.iri-square-avatars yt-img-shadow {
    border-radius: 0 !important;
}
.iri-video-count {
    color: var(--yt-endpoint-color, #111111);
    cursor: pointer;
    display: inline-block;
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    white-space: pre;
    --yt-endpoint-color: var(--yt-channel-owner) !important;
}
.iri-tooltip {
    display: block;
    outline: none;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    line-height: 1;
    background-color: rgba(17, 17, 17, .8);
    opacity: 0;
    color: #FFF;
    padding: 8px;
    border-radius: 2px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-transform: none;
    position: absolute;
    white-space: nowrap;
    transition: opacity .3s ease-out 0s;
    pointer-events: none;
}
ytd-watch:not([hidden]) .ytp-thumbnail-overlay {
    transition: none !important;
}
/* end | general layout */


/* ini | thumbnail preview */
#iri-video-preview {
    background-color: transparent;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
yt-img-shadow:hover #iri-video-preview {
    background-color: rgba(0, 0, 0, .5);
}
#iri-video-preview video {
    left: auto !important;
    max-height: 100%;
    max-width: 100%;
    top: auto !important;
}
#iri-video-preview .html5-video-container {
    height: 100%;
}
/* end | thumbnail preview */


/* ini | video always playing */
html.iri-always-playing ytd-watch[hidden] {
    display: block !important;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}
.iri-always-playing #movie_player:not(.ytp-fullscreen) .ytp-prev-button,
.iri-always-playing #movie_player:not(.ytp-fullscreen) .ytp-next-button,
.iri-always-playing #movie_player:not(.ytp-fullscreen).ended-mode .html5-endscreen {
    display: none;
}
/* end | video always playing */


/* ini | mini player */
#iri-mini-player-controls {
    font-size: 0px;
    height: 0px;
    margin-top: 6px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 12px;
    z-index: 1000;
    pointer-events: none;
    right: 12px;
    transition: opacity .25s cubic-bezier(0, 0, .2, 1);
}
#iri-mini-player-controls:after {
    box-shadow: rgba(8, 8, 8, .8) 0 120px 90px -90px inset;
    content: "";
    height: 120px;
    left: -12px;
    pointer-events: none;
    position: absolute;
    right: -12px;
    top: -6px;
    z-index: -1;
}
/*.iri-always-visible #movie_player:hover #iri-mini-player-controls,*/
.paused-mode #iri-mini-player-controls,
.ended-mode #iri-mini-player-controls,
.iri-always-playing #movie_player:not(.ytp-fullscreen):hover #iri-mini-player-controls {
    opacity: 1;
    pointer-events: initial;
}
#iri-mini-player-controls svg {
    pointer-events: none;
}

.iri-mini-player-control {
    align-items: center;
    cursor: pointer;
    display: none;
    height: 36px;
    font-size: 11px;
    justify-content: center;
    top: 0;
    opacity: .9;
    position: absolute;
    transition: opacity .1s cubic-bezier(.4, 0, 1, 1);
    width: 36px;
}
.iri-mini-player-control:hover {
    opacity: 1;
}
.iri-mini-player-left-control {
    left: 0;
}
.iri-mini-player-right-control {
    right: 0;
}
.iri-svg-shadow {
    fill: none;
    stroke: #000;
    stroke-opacity: .15;
    stroke-width: 2px;
}
.iri-always-playing #iri-mini-player-close,
.iri-always-playing #iri-mini-player-restore {
    display: flex;
}
.iri-always-visible #movie_player:not(.ytp-fullscreen),
.iri-always-playing #movie_player:not(.ytp-fullscreen):not(.unstarted-mode) {
    background-color: transparent;
    bottom: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 0 10px #000;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .4);
    height: 198px;
    position: fixed;
    right: 10px;
    width: 352px;
    z-index: 10000;
}
.iri-always-visible #movie_player:not(.ytp-fullscreen):before,
.iri-always-playing #movie_player:not(.ytp-fullscreen):not(.unstarted-mode):before {
    background-color: #000;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
}
.iri-mini-player-tooltip {
    background-color: rgba(28, 28, 28, .9);
    border-radius: 2px;
    padding: 5px 9px;
    opacity: 0;
    font-size: 118%;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition: opacity .1s cubic-bezier(.4, 0, 1, 1);
    white-space: nowrap;
    z-index: 1002;
    font-weight: 500;
    line-height: 15px;
}
.iri-mini-player-left-control .iri-mini-player-tooltip {
    left: 0;
}
.iri-mini-player-right-control .iri-mini-player-tooltip {
    right: 0;
}
.iri-mini-player-control:hover .iri-mini-player-tooltip {
    opacity: 0.9;
}
/* end | mini player */


/* ini | blacklist */
.iri-add-to-blacklist {
    background-color: #111;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 0;
    left: 0;
    margin: 4px;
    opacity: 0;
    padding: 14px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity .3s;
    width: 0;
    z-index: 1;
}
html:not(.iri-blacklist-allowed) .iri-add-to-blacklist {
    display: none;
}
#avatar:hover .iri-add-to-blacklist,
#thumbnail:not([href*="list=RD"]):hover .iri-add-to-blacklist,
.ytd-thumbnail-0:hover .iri-add-to-blacklist,
.ytd-playlist-thumbnail-0:hover .iri-add-to-blacklist {
    opacity: .8;
    pointer-events: all;
}
.iri-add-to-blacklist svg {
    fill: #fff;
    pointer-events: none;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 16px;
}
.iri-add-to-blacklist .iri-tooltip {
    left: 32px;
    top: -2px;
}
.iri-add-to-blacklist:hover .iri-tooltip {
    opacity: .9;
    transition: opacity .3s ease-out .5s;
}
#avatar,
#thumbnail {
    position: relative;
}
#avatar .iri-add-to-blacklist {
    /*top: 32px*/
}
yt-img-shadow.ytd-channel-renderer {
    border-radius: 0;
    position: relative;
}
yt-img-shadow:not(.ytd-channel-renderer) .iri-add-to-blacklist {
    display: none;
}

/* end | blacklist */


/* ini | Iridium settings */
html,
body {
    box-sizing: border-box;
}
#iridium_settings {
    background-color: #F1F1F1;
    color: #666;
    display: block !important;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    margin: 0 auto;
    max-width: 1024px;
    padding: 10px;
    position: relative;
}
#iridium_settings_sidebar {
    /*background-color: #25272A !important;*/
    /*bottom: 10px;*/
    /*color: rgba(156, 174, 192, .3) !important;*/
    /*left: 10px;*/
    padding: 10px 0;
    position: absolute;
    top: 10px;
    width: 200px;
    z-index: 1;
}
#iridium_settings_container {
    box-sizing: border-box;
    padding-left: 210px;
}
#iridium_settings_container:after {
    /*content: "";
    display: block;
    margin-bottom: 100%;*/
}
#settings_section {
    padding: 0 15px 15px 15px;
}
#iridium_settings_sidebar,
#settings_section {
    background-color: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
#settings_section h3 {
    color: #555;
    font-size: 14px;
    margin: 30px 0 16px;
}
#settings_section h2 {
    color: #333;
    font-size: 18px;
    line-height: 20px;
    margin: 20px 0;
}
#settings_section h2,
#settings_section h3 {
    display:inline-block;
    font-weight: bold;
    user-select: none;
}
.sidebar_section {
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 25px;
    overflow: hidden;
    padding: 0 20px;
    text-decoration: none;
    user-select: none;
}
.sidebar_section:hover:not(.active_sidebar) {
    background-color: #F4F4F4;
    color: #CC181E;
}
.active_sidebar {
    background-color: #CC181E;
    color: #FFF;
}
.settings_divider {
    background-color: #E2E2E2;
    height: 1px;
    margin: 0 -15px;
}
.settings_setting {
    font-size: 0;
    line-height: 26px;
}
.setting {
    font-size: 14px;
    display: inline-block;
    /*left: 40px;*/
    /*margin: 0 5px 0 0;*/
    position: relative;
    vertical-align: middle;
    user-select: none;
    white-space: pre;
}
.feature-link {
    font-size: 14px;
    font-weight: 700;
    color: #167AC6;
    cursor: pointer;
    margin-left: 5px;
    opacity: 0;
    overflow: hidden;
    text-decoration: none;
    vertical-align: middle;
}
.settings_setting:hover .feature-link {
    opacity: 1;
}
.feature-link:hover {
    text-decoration: underline;
}

#iridium-text-editor {
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    bottom: 10px;
    left: 10px;
    margin: 0 auto;
    max-width: 1024px;
    padding: 20px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 100;
}
#iridium-text-editor #buttons-section {
    height: 50px;
    text-align: right;
    width: 100%;
}
#iridium-text-editor .iri-settings-button {
    margin: 0 0 0 20px !important;
}
#iridium-text-editor textarea {
    box-sizing: border-box;
    display: block;
    height: calc(100% - 50px);
    padding: 10px;
    resize: none;
    width: 100%;
}

#iridium-blacklist {
    border: 1px solid #A9A9A9;
    color: rgba(255, 255, 255, .5);
    box-sizing: border-box;
    display: block;
    height: calc(100% - 50px);
    padding: 10px;
    overflow: auto;
    width: 100%;
}
.iri-blacklist-channel {
    position: relative;
    padding-left: 40px;
    margin-left: -10px;
    margin-right: -10px;
}
.iri-blacklist-channel:hover {
    background: #F0F0F0;
}
.iri-blacklist-channel .close {
    background-color: transparent;
    color: #666;
    cursor: pointer;
    position: absolute;
    left: 5px;
    font-size: 0;
    border: none;
    padding: 5px;
    margin: 5px;
}
.iri-blacklist-channel svg {
    fill: #A9A9A9;
    pointer-events: none;
}
.iri-blacklist-channel .close:hover svg {
    fill: #444;
}
.iri-blacklist-channel a {
    color: #444;
    text-decoration: none;
    display: block;
    padding: 5px;
    height: 20px;
}
.iri-blacklist-channel:hover a {
    color: #27A6E5 !important;
}


#iridium_settings input[type=checkbox] {
    display: none;
    height: 0;
    visibility: hidden;
    width: 0;
}
#iridium_settings input[type=checkbox] + label {
    padding-left: 35px;
}
#iridium_settings input[type=checkbox] + label:before {
    background: grey;
    border-radius: 100px;
    box-shadow: 0 0 2px 0 #333 inset;
    box-sizing: border-box;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: calc(100% - 2 * var(--iri-checkbox-bkg));
    left: 0;
    margin: var(--iri-checkbox-bkg) 0;
    position: absolute;
    transition: background .3s;
    vertical-align: middle;
    width: calc(40px - 2 * var(--iri-checkbox-bkg));
}
#iridium_settings input[type=checkbox] + label:after {
    background: #FFF;
    border-radius: 90px;
    box-shadow: 0 0 3px 0 #333;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: 14px;
    left: -7px;
    margin: 6px;
    position: absolute;
    transition: .3s;
    vertical-align: middle;
    width: 14px;
}
#iridium_settings input[type=checkbox]:checked + label:before {
    background: #E52D27;
    background: #27A6E5;
}
#iridium_settings input[type=checkbox]:checked + label:after {
    left: 7px;
}

#iridium_settings .iri-settings-button {
    /*background-color: #167AC6;*/
    border-color: #167AC6;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .05) 0 1px 0;
    color: #666;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    margin: 5px;
    outline: none 0;
    padding: 0 10px;
    vertical-align: middle;
}
#iridium_settings .iri-settings-button {
    background-color: #F8F8F8;
    box-shadow: rgba(0, 0, 0, .05) 0 1px 0;
    border: 1px solid #D3D3D3;
    border-image: initial;
}
#iridium_settings .iri-settings-button:first-child {
    margin-left: 0;
}
#iridium_settings .iri-settings-button:hover {
    background: #F0F0F0;
    border-color: #C6C6C6;
    color: #333;
}
#iridium_settings .iri-settings-button:active {
    background: #E9E9E9;
}
#iridium_settings .iri-settings-button.danger {
    background-color: #C51616 !important;
    border-color: #C51616 !important;
    color: #FFF !important;
}
#iridium_settings .iri-settings-button.danger:hover {
    background: #B51212;
}
#iridium_settings .iri-settings-button.danger:active {
    background: #9A0909;
}
/* end | Iridium settings */


/* ini | Iridium settings dark mode */
.iri-dark-mode-settings #iridium_settings {
    color: rgba(255, 255, 255, .5);
}
.iri-dark-mode-settings #iridium_settings {
    background-color: #131313;
}
.iri-dark-mode-settings #iridium_settings_sidebar,
.iri-dark-mode-settings #settings_section,
.iri-dark-mode-settings #iridium-text-editor {
    background-color: #1C1C1C;
}
.iri-dark-mode-settings #iridium_settings .iri-settings-button,
.iri-dark-mode-settings #iridium_settings .iri-settings-button:hover,
.iri-dark-mode-settings #iridium_settings .iri-settings-button:active {
    background-color: rgba(255, 255, 255, .08);
    border-color: #303030;
    color: #888;
}
.iri-dark-mode-settings #settings_section h2 {
    color: rgba(255, 255, 255, .8);
}
.iri-dark-mode-settings #settings_section h3 {
    color: rgba(255, 255, 255, .5);
}
.iri-dark-mode-settings .settings_divider {
    background-color: rgba(255, 255, 255, .14);
}
.iri-dark-mode-settings .sidebar_section:hover:not(.active_sidebar) {
    background-color: #F4F4F4;
    color: #444;
}
.iri-dark-mode-settings #iridium-text-editor textarea {
    background-color: #131313;
    border-color: #303030;
    color: rgba(255, 255, 255, .5);
}

.iri-dark-mode-settings #iridium-blacklist {
    background-color: #131313;
    border: 1px solid #303030;
    color: rgba(255, 255, 255, .5);
}
.iri-dark-mode-settings .iri-blacklist-channel a {
    color: #EEE;
}
.iri-dark-mode-settings .iri-blacklist-channel:hover {
    background: #1C1C1C;
}
.iri-dark-mode-settings .iri-blacklist-channel svg {
    fill: #303030;
}
.iri-dark-mode-settings .iri-blacklist-channel .close:hover svg {
    fill: #FFF;
}

.iri-dark-mode-settings #iridium_settings input[type=checkbox] + label:before {
    box-shadow: none;
}
/* end | Iridium settings dark mode */