html {
    --iri-checkbox-bkg: 7px;
}

/* ini | general settigns */
#iridium_settings_button {
    box-sizing: border-box;
    height: 40px;
    padding: 8px;
    margin-right: 8px;
    text-align: center;
    width: 40px;
    color: var(--yt-swatch-important-text, var(--yt-swatch-icon-color, #888));
}
@media (max-width: 656px) {
    #iridium_settings_button {
        margin-right: 0;
    }
}
#iridium_settings_button polygon {
    opacity: 0.5;
}
#iridium_settings_button stop {
}
#iridium_settings_button path,
#iridium_settings_button polygon {
    fill: url(#iri-gradient);
}
#iridium_settings_button .iri-start-gradient,
#iridium_settings_button .iri-stop-gradient {
    stop-color: var(--iron-icon-fill-color, currentcolor);
}
#iridium_settings_button:hover .iri-start-gradient {
    transition: 1s;
    stop-color: #0FF;
}
#iridium_settings_button:hover .iri-stop-gradient {
    transition: 1s;
    stop-color: #F0F;
}
/* end | general settings */

/* ini | thumbnail preview */
#iri-video-preview video {
    max-height: 100%;
    max-width: 100%;
}
#iri-video-preview .html5-video-container {
    height: 100%;
}
/* end | thumbnail preview */

/* ini | Iridium settings */
html,
body {
    box-sizing: border-box; 
}
#iridium_settings {
    background-color: #F1F1F1;
    color: #666;
    display: block !important;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    margin: 0 auto;
    max-width: 1024px;
    padding: 5px;
    position: relative;
}
#iridium_settings_sidebar {
    /*background-color: #25272A !important;*/
    /*bottom: 10px;*/
    /*color: rgba(156, 174, 192, 0.3) !important;*/
    left: 10px;
    padding: 10px 0;
    position: absolute;
    top: 10px;
    width: 200px;
    z-index: 1;
}
#iridium_settings_container {
    box-sizing: border-box;
    padding: 5px 5px 5px 215px;
}
#iridium_settings_container:after {
    /*content: "";
    display: block;
    margin-bottom: 100%;*/
}
#settings_section {
    padding: 0 15px 15px 15px;
}
#iridium_settings_sidebar,
#settings_section {
    background-color: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
#settings_section h3 {
    color: #555;
    font-size: 14px;
    margin: 30px 0 16px;
}
#settings_section h2 {
    color: #333;
    font-size: 18px;
    line-height: 20px;
    margin: 20px 0;
}
#settings_section h2,
#settings_section h3 {
    display:inline-block;
    font-weight: bold;
}
#settings_section h2:first-letter,
#settings_section h3:first-letter {
    text-transform: capitalize;
}
.sidebar_section {
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 25px;
    overflow: hidden;
    padding: 0 20px;
    text-decoration: none;
    user-select: none;
}
.sidebar_section:hover:not(.active_sidebar) {
    background-color: #F4F4F4;
    color: #CC181E;
}
.active_sidebar {
    background-color: #CC181E;
    color: #FFF;
}
.settings_divider {
    background-color: #E2E2E2;
    height: 1px;
    margin: 0 -15px;
}
.settings_setting {
    font-size: 0;
    line-height: 26px;
}
.setting {
    font-size: 14px;
    display: inline-block;
    /*left: 40px;*/
    /*margin: 0 5px 0 0;*/
    padding-left: 40px;
    position: relative;
    vertical-align: middle;
    user-select: none;
}




#iridium_settings input[type=checkbox] {
    display: none;
    height: 0;
    width: 0;
    visibility: hidden;
}
#iridium_settings label:before {
    box-shadow: 0 0 2px 0 #333 inset;
    content: '';
    cursor: pointer;
    width: calc(40px - 2 * var(--iri-checkbox-bkg));
    height: calc(100% - 2 * var(--iri-checkbox-bkg));
    background: grey;
    display: inline-block;
    border-radius: 100px;
    position: absolute;
    vertical-align: middle;
    /*transform: translateY(-50%);*/
    /*top: 50%;*/
    left: 0;
    transition: background 0.3s;
    margin: var(--iri-checkbox-bkg);
    box-sizing: border-box;
}
#iridium_settings label:after {
    box-shadow: 0 0 3px 0 #333;
    content: '';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    background: #FFF;
    border-radius: 90px;
    transition: 0.3s;
    vertical-align: middle;
    /*transform: translateY(-50%);*/
    /*top: 50%;*/
    left: 0;
    margin: 6px;
}
#iridium_settings input:checked + label:before {
    background: #E52D27;
    background: #27A6E5;
}
#iridium_settings input:checked + label:after {
    left: 14px;
}
/* end | Iridium settings */
