/* ini | autoplay */
#movie_player.unstarted-mode:is(.playing-mode, .paused-mode):not(.buffering-mode) > *:not(.ytp-cued-thumbnail-overlay) {
    display: none;
}
#movie_player > .ytp-cued-thumbnail-overlay > .ytp-cued-thumbnail-overlay-image {
    background-size: contain !important;
}
/* end | autoplay */

/* ini | autoplay channel trailer */
#c4-player.unstarted-mode:is(.playing-mode, .paused-mode):not(.buffering-mode) > *:not(.ytp-cued-thumbnail-overlay) {
    display: none;
}
#c4-player > .ytp-cued-thumbnail-overlay > .ytp-cued-thumbnail-overlay-image {
    background-size: contain !important;
}
/* end | autoplay channel trailer */

/* ini | video focus */
html #masthead-container,
html #secondary,
html #below {
    transition-property: opacity !important;
    transition-duration: 0.8s !important;;
    transition-timing-function: ease !important;;
    transition-delay: 0.25s !important;;
}
html[dim] #masthead-container:not(:hover),
html[dim] #secondary:not(:hover),
html[dim] #below:not(:hover) {
    opacity: 0.1;
}
/* end | video focus */

/* ini | iridium icon */
html[dark] .iridium-options yt-icon {
    background: #fff;
}
html .iridium-options:hover yt-icon {
    background: radial-gradient(circle at 0% 150%, #0ff 35%, #f0f 75%);
}
.iridium-options yt-icon {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon opacity="0.5" points="6.8,3 22.4,12 6.8,21"/><path d="M6.8,3v18l15.6-9L6.8,3z M9.8,8.2l6.6,3.8l-6.6,3.8V8.2z"/></svg>');
    background: #030303;
}
/* end | iridium icon */

/* ini | reverse playlist */
ytd-toggle-button-renderer:has([aria-label="reversePlaylistButton"]) {
    margin-left: 0 !important;
}
html[dark] [aria-label="reversePlaylistButton"] yt-icon {
    background: #f1f1f1;
}
[aria-label="reversePlaylistButton"] yt-icon {
    background: #0f0f0f;
}
[aria-label="reversePlaylistButton"] yt-icon {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M352.307-467.692v-295.462L228.538-639.385 200-667.692 372.308-840l172.307 172.308-28.538 28.307-123.769-123.769v295.462h-40.001ZM586.923-120 414.615-292.308l28.539-28.307 123.769 123.769v-295.462h40v295.462l123.769-123.769 28.539 28.307L586.923-120Z"/></svg>');
}
[aria-label="reversePlaylistButton"][aria-pressed="true"] yt-icon {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M320-440v-287L217-624l-57-56 200-200 200 200-57 56-103-103v287h-80ZM600-80 400-280l57-56 103 103v-287h80v287l103-103 57 56L600-80Z"/></svg>');
}
/* end | reverse playlist */

/* ini | full titles */
html.iridium-full-titles #video-title.ytd-video-renderer,
html.iridium-full-titles #video-title.ytd-compact-video-renderer,
html.iridium-full-titles #video-title.ytd-reel-item-renderer,
html.iridium-full-titles #video-title.ytd-rich-grid-media {
    max-height: unset;
    -webkit-line-clamp: unset;
}
/* end | full titles */

/* ini | super theater */
html[super-theater] #masthead-container.ytd-app:has( > [theater][is-watch-page]) #masthead {
    transform: translateY(-100%);
    transition: transform .5s ease-out !important;
}
html[super-theater] #masthead-container.ytd-app:has( > [theater][is-watch-page]):hover #masthead {
    transform: translateY(0);
}
html[super-theater] ytd-watch-flexy[full-bleed-player]:not([hidden]) #full-bleed-container.ytd-watch-flexy,
html[super-theater] ytd-watch-grid[full-bleed-player]:not([hidden]) #player-full-bleed-container.ytd-watch-grid {
    max-height: calc(100vh);
    height: calc(100vh);
    min-height: unset;
}
html[super-theater] #page-manager.ytd-app:has( > [theater]:not([hidden])) {
    margin-top: 0;
}
html[super-theater] #page-manager.ytd-app:has( > [theater]:not([hidden])) ytd-live-chat-frame {
    top: 0 !important;
}
html[super-theater] #player-full-bleed-container {
    display: flex;
    flex-direction: row;
}
html[super-theater] #player-full-bleed-container #player-container {
    position: relative;
    flex: 1;
}
html[super-theater]:not([super-theater]) #masthead-container.ytd-app,
html[super-theater][super-theater] #masthead-container.ytd-app:not(:has( > [is-watch-page])) {
    width: 100% !important;
}
html[super-theater] #page-manager.ytd-app:has( > [theater]:not([hidden])) #chat-container {
    position: relative;
}
html[super-theater] #page-manager.ytd-app:has( > [theater]:not([hidden])) ytd-live-chat-frame {
    height: 100% !important;
    min-height: unset !important;
    top: unset !important;
}
/* end | super theater */

/* ini | hide end screen cards */
.iridium-hide-end-screen-cards #movie_player:hover .ytp-ce-element:not(:hover) {
    opacity: 0;
}
/* end | hide end screen cards */

/* ini | scroll volume */
#iridium-scroll-volume-level-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    z-index: 19;
}
#iridium-scroll-volume-level {
    display: inline-block;
    padding: 10px 20px;
    font-size: 175%;
    background: rgba(0, 0, 0, .5);
    pointer-events: none;
    border-radius: 3px;
}
/* end | scroll volume */

/* ini | player tools */
#iridium-player-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
#bottom-grid #iridium-player-tools {
    position: unset;
    margin-left: auto;
}
#iridium-player-tools > div {
    cursor: pointer;
    width: 36px;
    height: 36px;
    justify-content: center;
    display: flex;
    align-items: center;
    fill: var(--yt-spec-text-primary);
    position: relative;
}
#iridium-player-tools > div:hover {
    background-color: var(--yt-spec-10-percent-layer);
    border-radius: 18px;
}
#iridium-player-tools > div > svg {
    pointer-events: none;
    user-select: none;
}
#iridium-autoplay-shortcut:not([iridium-enabled]) {
    opacity: 0.5;
}
#iridium-video-focus:not([iridium-enabled]) #iridium-on,
#iridium-video-focus[iridium-enabled] #iridium-off {
    display: none;
}
#iridium-monetization:not(.monetized) .iridium-on,
#iridium-monetization.monetized .iridium-off {
    display: none;
}
html[dark] #iridium-player-tools .monetized {
    fill: #3fd20a;
}
#iridium-player-tools .monetized {
    fill: #3ad406;
}
html[dark] #iridium-player-tools .sponsored {
    fill: #3e8bff;
}
#iridium-player-tools .sponsored {
    fill: #0677d4;
}
#iridium-monetization-count {
    font-size: 10px;
    position: absolute;
    color: var(--yt-spec-text-primary);
    bottom: 0;
    right: 0;
    background: var(--yt-spec-base-background);
    border-radius: 12px;
    padding: 0 3px;
}
#iridium-monetization-count {
    font-size: 10px;
    position: absolute;
    color: var(--yt-spec-text-primary);
    bottom: 0;
    right: 0;
    background: var(--yt-spec-base-background);
    border-radius: 12px;
    padding: 0 3px;
}
#iridium-player-tools > div:hover #iridium-monetization-count {
    display: none;
}
/* end | player tools */

/* ini | always visible */
html[always-visible-player] .ytp-miniplayer-button,
html[always-visible-player] .ytp-size-button {
    display: none !important;
}
html[always-visible-player]:not(:has(ytd-watch-flexy[fullscreen])) #movie_player {
    position: fixed;
    z-index: 9999;
    height: 225px;
    width: 400px;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .4);
}
html[always-visible-player] #movie_player::before {
    background-color: #000;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
html[always-visible-player][moving] #movie_player {
    opacity: 0.9;
}
html[always-visible-player][moving] #movie_player::after {
    background-color: #fff;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
html[dark][always-visible-player][moving] #movie_player::after {
    background-color: #000;
}
/* end | always visible */