
html {
    --iri-checkbox-bkg: 7px;
    --iri-sidebar-width: 240px;
}

body {
    background-color: #1f1f1f;
    color: #ffffff80;
    display: block !important;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    font-weight: 600;
}

input[type=checkbox] + label:before {
    box-shadow: none;
}

input[type=checkbox] + label:before {
    content: '';
    background: #808080;
    border-radius: 100px;
    box-shadow: 0 0 2px 0 #333 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    /*height: calc(100% - 2 * var(--iri-checkbox-bkg));*/
    left: 24px;
    /*margin: var(--iri-checkbox-bkg) 0;*/
    position: absolute;
    transition: background .3s;
    vertical-align: middle;
    width: 36px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
}

input[type=checkbox]:checked + label:before {
    background: #27a6e5;
}

input[type=checkbox] + label:after {
    background: #fff;
    border-radius: 90px;
    box-shadow: 0 0 3px 0 #333;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
    left: 40px;
    /*margin: 6px;*/
    position: absolute;
    transition: .3s;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    /*margin-left: 6px;*/
    /*margin-right: 6px;*/
}

input[type=checkbox]:not(:checked) + label:after {
    left: 24px;
}

input[type=checkbox] + label {
    padding-left: 84px;
}

input[type=checkbox] {
    display: none;
    height: 0;
    visibility: hidden;
    width: 0;
}

[hidden] {
    display: none;
}

#sidebar {
    background-color: #282828;
    width: var(--iri-sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 2px 0 10px #00000015;
}

.content {
    max-width: 1280px;
    /*min-width: calc(100% - (var(--iri-sidebar-width) * 2));*/
    /*margin: 0 var(--iri-sidebar-width);*/
    margin: 0 auto;
    padding-left: var(--iri-sidebar-width);
}

#input-general:not(:checked) ~ #content-general,
#input-player:not(:checked) ~ #content-player {
    display: none;
}

.sidebar_section_header {
    user-select: none;
    pointer-events: none;
    line-height: 56px;
    padding: 0 24px 0 72px;
    display: flex;
    position: relative;
    margin-bottom: 12px;
    color: #ccc;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    letter-spacing: -1.50px;
}

.sidebar_section_header:before,
.sidebar_section:before {
    content: "";
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    top: 50%;
    left: 24px;
    position: absolute;
}

.sidebar_section_header:before {
    background-image: url("../img/logo.svg");
}

.sidebar_section {
    color: #ffffff;
    line-height: 40px;
    padding: 0 24px 0 72px;
    cursor: pointer;
    display: flex;
    position: relative;
    user-select: none;
    opacity: 0.5;
}

[data-sidebar=general]:before {
    background-image: url("../img/general.svg");
}

[data-sidebar=player]:before {
    background-image: url("../img/player.svg");
}

[data-sidebar=download]:before {
    background-image: url("../img/download.svg");
}

[data-sidebar=channel]:before {
    background-image: url("../img/channel.svg");
}

[data-sidebar=blacklist]:before {
    background-image: url("../img/blacklist.svg");
}

[data-sidebar=donate]:before {
    background-image: url("../img/donate.svg");
}

[data-sidebar=settings]:before {
    background-image: url("../img/settings.svg");
}

[data-sidebar=language]:before {
    background-image: url("../img/language.svg");
}

[data-sidebar=about]:before {
    background-image: url("../img/about.svg");
}

#input-general:checked ~ #sidebar [for=input-general],
#input-player:checked ~ #sidebar [for=input-player] {
    opacity: 1;
    background-color: #ffffff1a;
}

#input-general:checked ~ #sidebar [for=input-general]:hover,
#input-player:checked ~ #sidebar [for=input-player]:hover {
    background-color: #ffffff32;
}

.sidebar_section:hover {
    background-color: #ffffff34;
    color: #fffffff0;
}

.sidebar_label_icon {
    user-select: none;
    pointer-events: none;
    font-size: 0;
    align-self: center;
    margin-right: 24px;
    height: 24px;
    width: 24px;
}

.sidebar_label {
    user-select: none;
    pointer-events: none;
    flex: 1;
    align-self: center;
    font-weight: 600;
}

.active path {
    fill: #fff;
}

.active .sidebar_label {
    color: #fff;
}

.setting_content {
    font-size: 0;
    line-height: 40px;
    /*margin: 0 -24px;*/
}

.setting_content:hover {
    /*background-color: #ffffff11;*/
    color: #fffffff0;
}

.setting_header {
    user-select: none;
}

.setting {
    cursor: pointer;
    font-size: 14px;
    display: block;
    position: relative;
    vertical-align: middle;
    user-select: none;
    white-space: pre;
}

.setting_header {
    color: #fffc;
    font-size: 18px;
    /*margin-top: 24px;*/
    line-height: 56px;
    padding: 0 24px 12px 24px;
}

.setting_header.background {
    /*padding: 0 24px;*/
    /*background-color: #1c1c1c;*/
}

.settings_divider {
    /*background-color: #e2e2e2;*/
    background-color: #ffffff24;
    height: 1px;
}

#sidebar .settings_divider {
    margin: 12px 0;
}

#content .settings_divider {
    margin: 0 24px;
}